@media (max-width: 480px){
    /* header */
    .main_header{
        padding: 20px 24px;
        
    }
    .header_nav, .dis{
        display: none;
    }
    .fa-bars {
        display: block ;
      }
      /* section start */


      .sec1_pic {
        height: 240px;
      }

      /* section 2 */
      .section2{
        row-gap: 14px;
      }
    
      .sec2_img{
        width: calc(327 / 375 * 100%);
        
      }
      .sec2_text{
        row-gap: 14px;

      }

      /* section 3 start */

      .sec3_div{
        padding: 24px;
      }
      .sec3_brand{
        row-gap: 10px;

      }
      /* footer */
      .footer_main {
        padding: 24px;
      }

.footer_links_division{
  column-gap: 0;
  width: 100%;
  justify-content: space-between;
}




    }