.container {
  width: min(100%, 1440px);
  margin: auto;
}

.main_header {
  width: 100%;
  padding: 24px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_ul {
  display: flex;
  gap: 24px;
}
.action {
  background-color: black;
  color: #f3f3f3;
  padding: 12px 24px;
  border-radius: 32px;
  border: 0;
}

.fa-bars {
  display: none;
}

/* section 1 start */

.section1 {
  display: flex;
  padding: 64px 165px;
  column-gap: 130px;
}
.sec1_main_div {
  width: 490px;
}

h1 {
  color: #000;
  font-family: Inter;
  font-size: 56px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: -1px;
}
.sec1_p {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  margin-top: 24px;
  margin-bottom: 40px;
}
.sec1_cover {
  width: 490px;
  height: 400px;
  padding: 10px;
  background: url(..//images/img.png);
  object-fit: cover;
  background-repeat: no-repeat;
}

/* section 2 start */

.section2 {
  display: flex;
  padding: 96px 150px;
  column-gap: 133px;
  align-items: center;
  background: var(--Black, #000);
}
.sec2_cover {
  background: url(..//images/cover2.jpg);
  width: 503.5px;
  height: 400px;
  padding: 10px;
  object-fit: cover;
  background-repeat: no-repeat;
}

.sec2_text{
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 503,5px;

}

.sec2_h4 {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px; 
  letter-spacing: -0.1px;
  width: 503,5px;
  width: 100%;
}

.sec2_p {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
  letter-spacing: 0.1px;
  width: 503,5px;
  width: 100%;
}
