@media only screen and (max-width: 1024px) {
  /* section 1 */
  .section1 {
    flex-wrap: wrap;
    flex-direction: column;
    padding: 32px;
  }

  .sec1_text {
    width: calc(960 / 1024 * 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sec1_p {
    margin: 24px auto;
  }
  .sec1_pic {
    width: calc(960 / 1024 * 100%);
    margin-top: 68px;
  }

  /* section 2 start */
  .section2 {
    flex-wrap: wrap;
    padding: 32px;
  }
  .sec2_text {
    flex-direction: row;
    margin: 64px auto;
  }
  .sec2_img {
    width: calc(960 / 1024 * 100%);
  }
  .footer_main {
    padding: 45px 32px;
    flex-direction: column;
  }
  .footer_sub {
    display: none;
  }
  .brand_t {
    margin-bottom: 32px;
  }
}




/* 744 */

@media only screen and (max-width: 744px) {

    /* headers  */
  .main_header {
    padding: 24px;
  }
  

  /*  section 1 */
  
  .section1 {
    padding: 24px;
    row-gap: 24px;
  }
  h1 {
    font-size: 40px;
    line-height: 48.5px;
  }
  .sec1_pic {
    width: calc(696 / 744 * 100%);
    margin-top: 0 ;
  }

  /* section 2  */
  .section2{
    padding: 24px;
    align-items: center;
    
  }
  .sec2_text{
    flex-direction: column;
    row-gap: 29px;
    
  }

  /* sectin 3 */
  .section3{
    flex-direction: column;
    padding: 20px;
    row-gap: 20px;
    
  }
.sec3_div{
    align-items: center;
    justify-content: center;
}


}
